@font-face {
    font-family: "Open Sans";
    src: url(fonts/OPENSANS-LIGHT.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Open Sans";
    src: url(fonts/OPENSANS-BOLD.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Open Sans";
    src: url(fonts/OPENSANS-SEMIBOLD.ttf);
    font-weight: 600;

}
@font-face {
    font-family: "Open Sans";
    src: url(fonts/OPENSANS-BOLDITALIC.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "HenriDidot";
    src: url(fonts/HenriDidot.otf);
}
@font-face {
    font-family: "Bodoni-Book";
    src: url(fonts/bodoni-book-5955e007c8b21.otf);
}

body {
    font-family: "Open Sans";
    background: #ffffff;
    color: #4b4b4d;
    font-weight: 300;
}
p {
  font-size: 16px;
}
h1 {
    font-family: "Bodoni-Book";
    font-size: 40px;
}
h2 {
    font-family: "Bodoni-Book";
    font-size: 35px;
}
ul li {
    text-transform: uppercase;
}
ul li a{
    color: #4b4b4d;
}
li.active a {
    font-weight: 600;
}
a {
  text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #494949;
}
ul.navbar-nav {
    border-top: 2px solid #f5f5f5;
}
a.logo {
    color: #4b4b4d;
}
.main{
    margin: 0 auto;
    background: #f5f5f5;
    width: 98%;
}
.elegance {
    background: #ffe1e3;
    margin-top: 80px;
    position: absolute;
    left: 446px;
    width: 1438px;
}
.imgelegance {
    float: right;
    right: 20px;
    position: relative;
}
.imgconctact {
    margin-top: 120px;
    right : 34px;
    position: relative;
}
.text {
    border: 2px solid #ffffff;
    margin: 20px;
    padding: 15px;
    position: relative;
    right: 90px;
}
.btn-contact {
  position: relative;
  z-index: 1;
  display: inline-block;
  color: #494949;
  border: 1px solid #000000;
  padding: 10px 20px;
  margin: 10px auto;
}
.btn-contact:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  height: 100%;
  width: 100%;
  padding: 1px;
  border-right: 1px solid #494949;
  border-bottom: 1px solid #494949;
}
.icon {
    font-size: 18px;
}
.author {
    opacity: 0.8;
}
.factoryimg {
  right: 34px;
}
.row {
    margin-top: 60px;
}
.sweater {
    text-align: right;
}
.texttwo {
    margin-top: 60px;
    border: 2px solid #ffffff;
    padding-left: 300px;
  position: relative;
  padding-right: 20px;
  left: -140px;
}
.textabout {
    border-left: 2px solid #ffffff;
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 90px;
}
.textoem {
    margin: 20px 120px 20px 0px;
    border: 2px solid #ffffff;
    width: 1200px;
    padding: 70px 450px 70px 0;
}
.textoem h1 p {
    margin-right: 50px;
}
.oem {
    margin-top: 10px;
    position: relative;
    right: 120px;
}
.textodm {
    border: 2px solid #ffffff;
    width: 1000px;
    padding: 60px 0 60px 100px;
    margin: 20px 0 20px 200px;
}
.textodm h1 p {
    margin-right: 50px;
}
.ourfactory {
    text-align: right;
}
.odm{
    margin-top: 20px;
    position: relative;
    left: 120px;
    z-index: 1;
}
.factory {
    margin-top: 40px;
}
.factoryrow {
    position: relative;
    right: 300px;
    background: #ffffff;
    padding: 20px;
    width: 900px;
    margin-top: 0;
}
.textfactory {
    border-left: 1px solid #000000;
    padding: 20px;
    font-size: 15px
}
.textelen {
    border: 2px solid #ffffff;
    margin-top: 140px;
    padding: 35px;
    position: relative;
    right: 100px;
    width: 900px;
}
.textpartner {
    border: 2px solid #ffffff;
    margin-top: 140px;
    padding: 35px;
    position: relative;
    left: 100px;
}
.textcontact {
    padding: 50px;
    width: 700px;
    text-align: center;
    margin: 20px 400px;
    border: 2px solid #ffffff;
}
.navbar-bot {
    width: 300px;
    list-style: none;
    padding: 15px;
    background: #ffffff;
    position: relative;
    top: 60px;
}
.navbar-bot li {
    margin-top: 10px;
}
.border-nav {
    border: 1px solid #f1f1f3;
    padding: 15px;
}
p.contacts {
    font-weight: 600;
}
.contacts a {
    font-weight: 600;
    color: #000000;
}
.contact {
    background: #f1f1f3;
    margin: 0 auto;
    width: 98%;
}
.pinkblock {
    position: relative;
    left: 684px;
    width: 1200px;
}
.founder {
  margin-top: 90px;
}
.oemblock {
  right: 20px;
}
.odmblock {
  left: 19px;
}
@media screen and (max-width: 1824px){
    h1 {
        font-size: 34px;
    }
    p {
    }
    .textodm {
        width: auto;
    }
    .factoryrow {
        width: auto;
        right: 250px;
        padding: 10px;
    }
    .textcontact {
        width: 550px;
        margin-left: 320px;
    }
    .textelen {
        width: auto;
        right: 30px
    }
    .pinkblock {
        width: 1029px;
    }
    .textoem{
        width: auto;
    }
    .oem {
        font-size: 120px;
        margin-top: 60px;
    }
    .odm {
        font-size: 120px;
        margin-top: 60px;
    }
    .texttwo {
        margin-top: 40px;
    }
    .odmblock {
      left: 17px;
    }
    .elegance {
      left: 404px;
      width: 1309px;
    }
}
@media screen and (max-width: 1600px){
    body {
    }
    h1{
        font-size: 30px;
    }
    .textfactory{
        padding: 10px;
        margin-top: 5px;
        font-size: 14px
    }
    .textelen {
        right: 20px;
    }
    .textpartner {
        left: 40px;
    }
    .elegance {
      left: 353px;
      width: 1154px;
    }
    .pinkblock {
        left: 707px;
        width: 800px;
    }
    .textcontact {
        margin-left: 120px;
    }
    .textoem {
      margin: 20px 60px 20px 0px;
    }
    .oem {
      right: 80px;
      margin-top: 80px;
    }
    .texttwo {
      margin-top: 20px;
      padding-left: 100px;
      left: -90px;
    }
    .odmblock {
      left: 15px;
    }
}
@media screen and (max-width: 1280px){
    body {
        font-size: 11px;
    }
    h2 {
        font-size: 22px;
    }
    .textfactory {
        padding-left: : 4px;
        font-size: 12px;
    }
    .factory {
      margin-top: 25px;
    }
    .elegance {
        margin-top: 40px;
        left: 290px;
        width: 966px;
    }
    .pinkblock {
      left: 429px;
      width: 827px;
    }
    .textcontact {
        margin-left: 220px;
    }
    .texttwo {
      margin-top: 10px;
    }
    p{
      font-size: 14px;
    }
    .odmblock {
      left: 13px;
    }
}
@media screen and (max-width: 1100px){
    h1 {
      font-size: 25px;
    }
    h2  {
      font-size: 20px;
    }
    .pinkblock {
        left: 249px;
    }
    .textcontact {
        width: 500px;
        margin-left: 270px;
    }
    .factory {
      margin-top: 20px;
    }
    .elegance {
      margin-top: 19px;
      left: 246px;
      width: 830px;
    }
    .textfactory {
      font-size: 9px;
    }
    .texttwo {
      margin-top: 15px;
    }
    .texttwo h2 {
      font-size: 20px;
    }
    .texttwo p {
      font-size: 10px;
    }
    .odmblock {
      left: 11px;
    }
}
@media screen and (max-width: 1024px){
    .factoryrow {
        right: 0;
        text-align: center;
    }
    .factoryrow p {
        border: none;
    }
    .ourfactory {
        text-align: center;
    }
    .textoem {
        width: auto;
        margin: 20px 0;
        padding: 20px 0;
    }
    .elegance {
      position: relative;
      left: 0;
      width: auto;
    }
    .textodm {
        width: auto;
        margin: 0;
        padding: 20px;
    }
    .elegance {
        margin-top: 20px;
        padding: 15px;
    }
    .textelen {
        width: auto;
        right: 0;
        text-align: center;
    }
    .textpartner {
        left: 0;
        text-align: center;
        margin-bottom: 40px;
    }
    .imgelegance {
        margin: 0 auto;
        float: none;
    }
    .text {
        right: 0;
    }
    .odm {
        left: 0;
        margin: 0 auto;
    }
    .oem {
      right: 0;
      margin: 0 auto;
    }
    .sweater {
        text-align: center;
    }
    .texttwo {
        text-align: center;
        padding: 10px;
    }
    .row {
        margin-top: 20px;
    }
    .oemblock {
        padding: 10px;
    }
    .odmblock {
        padding: 10px;
    }
    .rights {
        margin-top: 40px;
    }
    .pinkblock {
        left: 420px;
        margin-top: 420px;
        padding: 10px;
    }
    .textcontact {
        margin: 0 auto;
        padding: 10px;
    }
    .odmblock {
      left: 0px;
    }
}
@media screen and (max-width: 1000px){
    .pinkblock {
        left: 0;
        margin: 400px auto 20px auto;
        width: auto;
    }
    .imgconctact {
        margin-top: 20px;
    }
    .textcontact {
        width: auto;
    }
    .texttwo {
      margin-top: 20px;
      left: 0;
    }
    .factoryimg {
      right: 0;
    }
    .oemblock {
      right: 0;
    }
    .imgelegance{
      right: 0;
    }
}
@media screen and (max-width: 800px) {
    .nav>li>a {
        padding: 2px 15px;
        margin-top: 10px;
    }
    .nav>li {
      display: inline-block;
    }
    p{
      font-size: 11px;
    }
    .imgconctact {
      margin-top: 0;
    }
    .pinkblock {
      margin-top: 190px;
    }
}
