body{
    font-family: 'Roboto', sans-serif;
    color: #5c6566;
}
.topheader {
	height: 109px;
    background: #009a7c;
}
.logo {
    display: block;
    margin: 20px auto;
}
.bg-header {
	background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 30px 0;
}
.btn-primary{
    background: #fc0;
    color: #000;
    font-weight: 800;
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid rgba(23,23,23,.18);
    padding: 10px 15px;
}
.table>thead>tr>th{
    vertical-align: middle;
    font-weight: 400;
    text-align: center;
}
.table>thead>tr.name>th{
    font-weight: 600;
    text-align: center;
}
.img-responsive {
	margin: 0 auto;
}
th{
    text-align: center;
    font-weight: 400;
}
.table>thead>tr.namegreen>th {
    font-weight: 600;
	background: #00947c;
    color: #fff;
    height: 60px;
    font-size: 20px
}
.codes{
    text-align: center;
}
h2{
    font-weight: 700;
}
ol{
    padding-left: 18px;
}
.features strong{
    color: #29b28f;
}
.features strong:hover{
    color: #0078a0;
}
.features strong.two {
    color: #000;
}
.calculator {
	height: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 40%;
    margin: 40px auto;
}
.headcalc {
	display: block;
    margin: 0 auto;
    height: 80px;
    width: auto;
    background: -webkit-linear-gradient(45deg,#009a7c 0,#1bc1a1 100%);
    background: linear-gradient(45deg,#009a7c 0,#1bc1a1 100%);
    text-align: center;
    color: #fff;
}
.bodycalc {
	height: 200px;
    width: auto;
    margin: 0 auto;
}
input{
    width: 50px;
    text-align: center;
}
.bodycalc span{
    position: relative;
    left: 15px;
}
iframe{
    height: 420px;
    margin-bottom: 120px
}
.titlestep{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
}
.facts{
    text-align: center;
}
.facts ul{
    list-style: none;
    margin-bottom: 60px
}
.facts li{
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
}
.facts li p{
    font-size: 15px;
    margin: 0 16px;
}
.about span{
    display: block;
    text-align: center;
    opacity: 0.7;
}
blockquote{
    border-left: 5px solid #29b28f;
}
blockquote li{
    font-size: 16px;
}
.green-box {
	background: #29b28f;
    border-radius: 4px;
    padding: 3%;
}
.topfooter{
    background: #29b28f;
}
footer{
    background: rgba(0,0,0,0.66);
    text-align: center;
}
@media screen and (max-width: 1100px){
    .calculator {
	    display: none;
    }
}