body{
    font-family: 'Open Sans', sans-serif;
    color: #5c6566;
}
.container{
    width: 860px;
}
.topheader {
	height: 109px;
    background: #009a7c
}
.logo {
    margin: 20px 45%;
}
.bg-header {
	background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 30px 0;
}
.btn-yellow{
    background: #fc0;
    color: #000;
    font-weight: 800;
    border-radius: 2px;
    border-bottom: 3px solid rgba(23,23,23,.18);
    padding: 15px 20px;
}
h1 {
    font-size: 75px;
    font-weight: 600;
}
h2 {
    color: #5c6566;
    font-size: 40px;
    margin: 25px 0 10px;
    font-weight: 400;
}
h3 {
    font-size: 45px;
    text-shadow: 1px 1px 5px rgba(0,0,0,.36);
    font-weight: 600;
    line-height: 1.4;
}
.codes{
    text-align: center;
}
ol{
    padding-left: 18px;
}
.features strong{
    color: #29b28f;
}
.features strong:hover{
    color: #0078a0;
}
.features strong.two {
    color: #000;
}
.block {
	height: 200px;
}
iframe{
    height: 420px;
    margin-bottom: 120px
}
.titlestep{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
}
.facts{
    text-align: center;
}
.facts ul{
    list-style: none;
    margin-bottom: 60px
}
.facts li{
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
}
.facts li p{
    font-size: 15px;
    margin: 0 16px;
}
.about span{
    font-size: 12px;
    opacity: 0.7;
}
blockquote{
    border-left: 5px solid #29b28f;
}
blockquote li{
    font-size: 16px;
}
.green-box {
	background: #29b28f;
    border-radius: 4px;
    padding: 3%;
}
.topfooter{
    background: #29b28f;
}
footer{
    color: rgba(0,0,0,0.66);
}