
.speakers{ 
    min-height: 0;
}
.about {
    margin-top: 0;
}
footer {
    min-height: 0;
}
.plat-partners .logos-prtnrs {
    border: none;
}
.info-partners .h1-prtnrs h1{
    text-align: center;
}
.plat-partners .logos-prtnrs .bottom-infprtnrs {
    text-align: center;
}
.h3accept{
    margin-top: 100px;
    color: #ffffff;
}
.place .map-wrap h3 {
    text-transform: none;
}
.place .map-wrap .map {
    margin-top: 100px;
}
.bot-ordr .forms .politics {
    text-align: center;
}
.countdown {
    text-align: center;
    margin: 20px 0px 40px 0px;
    color: #ffffff;
}
.h1-speakers h1 {
    font-size: 65px;
    letter-spacing: 3px;
    color: #1e5799;
}
.header-wrap .header-info h2 {
    border:  none;
    padding: 0;
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
.plat-partners .logos-prtnrs .bottom-infprtnrs a {
    margin-left: 0;
}
.sl {
    display: -webkit-inline-box;
}
.header-wrap h1 {
    font-size: 47px;
}
.register {
    background: #fc039b;
    padding: 5px 15px;
    border-radius: 20px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.main-head .top-line ul li a.register:hover {
    color: #ffffff;
    background: #1e5799;
}
.mailinfo {
    position: absolute;
    right: 213px;
    bottom: -2px;
}
.header-wrap .header-forms {
    top: 65px;
}
.header-wrap .header-info {
    top: 116px;
    left: -493px;
}
@media only screen and (max-width: 1199px){
    .header-wrap .header-info {
        top: 116px;
        left: 0;
    }
    .h1-speakers h1 {
        font-size: 50px;
    }
    .main-head .phone-wrap .phone {
        font-size: 15px;
    }
    .bot-ordr .forms {
        padding-left: 0;
    }
    .mailinfo {
        top: -1px;
    }
}
@media only screen and (max-width: 460px){
    .mailinfo {
        display: none;
    }
}
.img-responsive {
    width: 80px;
}